@import "config";
@import "mixins";

.wrap {
    position: relative;
    height: 100%;

    @extend %clearfix;
}

@font-face {
  	font-family: 'Glyphicons Halflings';
  	src: url('../fonts/glyphicons.eot');
  	src: url('../fonts/glyphicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/glyphicons.woff') format('woff'),
		url('../fonts/glyphicons.ttf') format('truetype'),
		url('../fonts/glyphicons.svg#icomoon') format('svg');
  	font-weight: normal;
  	font-style: normal;
}
