// color
// text color
$color_text: #000;  // text main color

// button color
$color_button: #1cb394;

// border color
$color_border: #ddd;

// background color
$color_bg_body: #f4f4f4;


// font
// font family
$fontFamily: "STHeitiSC-Light","Source Han Sans-Light","Microsoft Yahei","SimHei","Helvetica Neue","Arial",sans-serif;

// font size
$fs_base: 14px;
$fs_h1: 36px;
$fs_h2: 30px;
$fs_h3: 24px;
$fs_h4: 18px;
$fs_h5: 16px;
$fs_h6: 12px;

// line-height
$lineHeight: 1;


// layout
// height
$h_header: 60px;  // header height
$h_footer: 50px;  // footer height

// width
$minwidth: 1200px;

// inline-block
$amend: 4px;
