// 闭合子元素浮动
%clearfix {
    &:before {
        content: "";
        display: table;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
        overflow: hidden;
    }
}

// 元素可以设置宽度才可应用省略号
%ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
